@import url('https://fonts.googleapis.com/css2?family=Lato');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

:root {
    --white: #fff;
    --dark1: #34344e;
    --dark2: #3a415a;
    --dark3: #566981;
    --dark4: #89a7b1;
    --dark5: #cbdad5;
    --dark6: #2f2f46;
    --cyan1: #70e3ea;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: var(--dark2);
}

::-webkit-scrollbar-thumb {
    background: var(--dark3);
}

::-webkit-scrollbar-thumb:hover {
    background: var(--dark4);
}

body {
    background-color: var(--dark1);
    height: 100vh;
    font-family: 'Lato';
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 1rem;
    flex-wrap:  wrap;
    padding: .8rem;
    background-color: var(--dark6);
    min-height: 50px;
    width: 100%;
}

.box-img-header {
    height: 100%;;
}

.img-logo {
    max-width: 40px;
    height: 100%;
}

nav {
    display: flex;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.nav-links {
    text-decoration: none;
    color: var(--white);
    transition: 0.4s;
}

.nav-links:hover {
    color: var(--dark4);
    transition: 0.4s;
    text-decoration: underline;
}

.box-btn-actions {
    display: flex;
    gap: 1rem;
}

:is(button, .link-action) {
    padding: 0.6rem;
    font-size: 0.9rem;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.4s;
}

.btn-action {
    background-color: transparent;
    border: 1px solid var(--white);
    color: var(--white);

}

.btn-action:hover {
    background-color: var(--dark3);
    border: 1px solid var(--dark3);
}

.link-action {
    text-decoration: none;
    width: 200px;
    text-align: center;
}

main {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

section {
    padding: 4rem;
}

.first-section {
    display: flex;
    justify-content: space-evenly;
    gap: 2rem;
    flex-wrap: wrap;
    align-items: center;
    min-height: 650px;
}

.first-section > div {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    min-width: 300px;
}

h1 {
    font-size: 4rem;
    color: var(--white);
    letter-spacing: 8px;
}

span {
    color: var(--cyan1);
}

.first-section p {
    color: var(--white);
}

.box-img-main {
    max-width: 450px;
    padding: 1px;
}

.img-profile {
    border-radius: 50%;
    width: 100%;
}

:is(.second-section, .fourth-section) {
    background-color: var(--dark2);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.second-section ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    flex-wrap: wrap;
}

.second-section ul li {
    color: var(--dark4);
    letter-spacing: 2px;
    font-weight: bold;
    transition: 0.4s;
    
}

.second-section ul li:hover {
    color: var(--dark5);
    transition: 0.4s;
    cursor: default;
}

.title {
    color: var(--dark5);
}

.third-section {
    display: flex;
    flex-direction: column;
    gap: 2rem;

}

.third-section > div {
    display: flex;
    gap: 4rem;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.third-section > div img {
    width: 250px;
    border-radius: 10px;
}

.third-section > div p {
    max-width: 600px;
    color: var(--white);
    text-align: justify;
    font-size: 20px;
}

footer {
    padding: 4rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

footer > div {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
}

#my-projects-list {
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
    padding: 2rem;
    justify-content: center;
    align-items: center;
}

#my-projects-list a:hover {
    color: var(--dark5);
    transition: 0.4s;
}


#my-projects-list a{
    text-decoration: none;
    color: var(--dark3);
}

.img-profile, .img-who-am-i {
    box-shadow: 1px 1px 1px 1px var(--cyan1);
}

.btn-list {
    display: none;
}

@media screen and (max-width: 900px) {

    .box-img-header img {
        width: 100%;
    }

    nav, .box-btn-actions {
        display: none;
    }

    .btn-list {
        display: flex;
        color: #fff;
        font-size: 20px;
    }

}